<% @mygame = Game.find(1) %>
<% @mycard = @mygame.cards.sample %>
<div id="card-container">
	<% @mygame.cards.shuffle.each do |student| %>
		<div class="one-card-container <%=student.name.gsub(" ", "-").downcase%>">
			<div id=<%=student.name.gsub(" ", "-").downcase%> class="cards front"><%= student.name %></div>
			<div class="back"></div>
		</div>
	<% end %>
</div>
	<div id=<%=@mycard.name.gsub(" ", "-").downcase%> class="selected"><%= @mycard.name %></div>
	<div id="all-guesses">
		<div class="guesses" id="guess1"></div>
		<div class="guesses" id="guess2"></div>
		<div class="guesses" id="guess3"></div>
		<div class="guesses" id="guess4"></div>
		<div class="guesses" id="guess5"></div>
	</div>
	<div id="input-field">
		<%= text_field_tag 'answer'%>
		<%= submit_tag 'Submit', id: 'answer-submit'%>
	</div>
	<script type="text/javascript">
		var counter = 1;
		$('#answer-submit').submit(function(){
			<% @mygame.cards.each do |student| %>
				<% @my_tags = student.tags.map(&:description) %>
				check = $('#answer').val().toLowerCase()
				array = <%= raw @my_tags %>
				myCardAttr = <%= raw @mycard.tags.map(&:description) %>
				if (array.includes(check) === myCardAttr.includes(check)){
					desc_match($('#' + "<%=student.name.gsub(" ", "-").downcase%>"))
				}	else {
						non_match($('.' + "<%=student.name.gsub(" ", "-").downcase%>"))
					}	
			<% end %>
			$('#guess' + counter).css('background', 'yellow')
			counter += 1
			if (counter > 5){
				disableInput()
			} 
		})
		var winner = undefined;
		<% @mygame.cards.each do |student| %>
		$('#' + "<%=student.name.gsub(" ", "-").downcase%>").click(function(){
			if($('#' + "<%=student.name.gsub(" ", "-").downcase%>").html() === "<%= @mycard.name %>" && winner === undefined){
				$('#you-win').css('display', 'block')
				disableInput()
				winner = true
			} else {
				$('#you-lose').css('display', 'block')
				disableInput()
				winner = false
			}
		})
		<% end %>

	</script>
	<div id="keywords">
		"dark hair"
		"red hair"
		"blonde hair"
		"bald"
		"long hair"
		"medium hair"
		"short hair"
		"beard"
		"mustache"
		"clean shaven"
		"dark eyes"
		"green eyes"
		"blue eyes"
		"colored contacts"
		"dark skin"
		"brown skin"
		"light skin"
		"has glasses"
		"no glasses"
		"male"
		"female"
		"is tall"
		"is short"
		"pc computer"
		"mac computer"
		"younger than 30"
		"older than 30"
		"native new yorker"
		"single"
		"married"
		"likes pepperoni pizza"
		"likes cheese pizza"
		"has earrings"
		"does not have earrings"
		"grey hair"
	</div>

	<div id="you-win">
		<h1 id="result-win">YOU WIN!</h1>
		<button class="play-again">Play Again?</button>
	</div>
	<div id="you-lose">
		<h1 id="result-lose">YOU LOSE!</h1>
		<button class="play-again">Play Again?</button>
	</div>