<button id="signup-toggle-button">
	<h1>Insta Who</h1>
</button>

<div class="container">

	<div class="backdrop"></div>

<!-- 	<div class="sessionz"><div class="close"></div> -->
	<%= form_for @user, :url => create_path, :html => { :multipart => true } do |f| %>
	<ul>
		<li><h2>Sign Up</h2></li>
		<li>
		<%= f.text_field :email, class: "field-style field-full align-none", placeholder: "Email"%>
		</li>
		<li>
		<%= f.password_field :password, class: "field-style field-full align-none", placeholder: "Password" %>
		</li>
		<li>
		<%= f.password_field :password_confirmation, class: "field-style field-full align-none", placeholder: "Password Confirmation" %>
		</li>
		<%= f.label :avatar %>
		<%= f.file_field :avatar %>
		<%= f.submit :submit, data: {disable_with: "Submitting..."} %><br><br><hr><br>
		<li><button>Just Play</button></li>
	<% end %>
	</ul>
	<!-- </div> -->

</div>