<!-- Give container class .landing-container -->
<div class="landing-container">
	<button id="signup-toggle-button">
		<h1 id="main-page-button">Insta Who</h1>
	</button>
	<div class="backdrop"></div>
	<%= form_tag({:action => 'create', :controller => 'sessions'}, {:class => 'login-form'}) do %>
		<ul>
			<li><h2>LOG IN</h2></li>
			<li>
			</li>
			<li>
				<%= label_tag :email, nil, class: "field-style field-full align-none" %>
			</li>
			<li>
				<%= text_field_tag :email, nil, class: "field-style field-full align-none" %><br><br>
			</li>
			<li>
				<%= label_tag :password, nil, class: "field-style field-full align-none" %>
			</li>
			<li>
				<%= password_field_tag :password, nil, class: "field-style field-full align-none" %><br><br>
			</li>
			<li>
				<%= submit_tag %>
			</li>
			<li>Need an Account? <%= link_to 'Sign Up!', home_show_path %></li><hr><br>
		<% end %>
		<!-- <hr> -->
	</ul>
</div>