<button id="signup-toggle-button">
	<h1>Insta Who</h1>
</button>

<div class="container">

	<div id="sessionz">
	SIGN UP<br><br>
	<%= form_for @user, :url => create_path, :html => { :multipart => true } do |f| %>
	<%= f.label :email %>
	<%= f.text_field :email %><br>
	<%= f.label :password %>
	<%= f.password_field :password %><br>
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %><br>
	<%= f.label :avatar %>
	<%= f.file_field :avatar %><br><br>
	<%= f.submit :submit, data: {disable_with: "Submitting..."} %>
	<% end %><br>
	</div>

</div>