	<div id="game-wrapper">
		<div id="card-container">
			<% @mygame.cards.shuffle.each do |student| %>
				<div class="one-card-container <%=student.name.gsub(" ", "-").downcase%>">
					<div id=<%=student.name.gsub(" ", "-").downcase%> style= 'background: url("<%= student.avatar.url %>");background-size: 100% 100%'class="cards front"><span id="<%=student.name.gsub(" ", "-").downcase%>-label" class= "card_names"><%= student.name %></span></div>
					<div class="back"></div>
				</div>
			<% end %>
		</div>
			<h5 class="instructions howto">Select the buttons on the right to guess a character trait. Click on a card above to guess the mystery person. Players can guess on up to 5 character traits but may only guess the mystery card once. Happy guessing!</h5>
			<h6 class="instructions warning">DISCLAIMER: People in cards are NYCDA Students and TA's. Player traits are based on self-identification! ¯\_(ツ)_/¯</h6>
	</div>
	<div id="right-wrapper">
		<div class="selected"></div>
		<div id="all-guesses">
			<div class="guesses" id="guess1"></div>
			<div class="guesses" id="guess2"></div>
			<div class="guesses" id="guess3"></div>
			<div class="guesses" id="guess4"></div>
			<div class="guesses" id="guess5"></div>
		</div>	
		<div id="keywords">
			<h5>Hair Color</h5>
			<% @hair_color_tags.each do |tag| %>
				<%= button_to tag,  {controller: "games", action: "update_card_position", selection: tag}, method: 'post', remote: true %>
			<% end %>
			<h5>Hair Length</h5>
			<% @hair_length_tags.each do |tag| %>
				<%= button_to tag,  {controller: "games", action: "update_card_position", selection: tag}, method: 'post', remote: true %>
			<% end %>
			<h5>Facial Hair</h5>
			<% @facial_hair_tags.each do |tag| %>
				<%= button_to tag,  {controller: "games", action: "update_card_position", selection: tag}, method: 'post', remote: true %>
			<% end %>
			<h5>Eye Color</h5>
			<% @eye_color_tags.each do |tag| %>
				<%= button_to tag,  {controller: "games", action: "update_card_position", selection: tag}, method: 'post', remote: true %>
			<% end %>
			<h5>Skin Color</h5>
			<% @skin_color_tags.each do |tag| %>
				<%= button_to tag,  {controller: "games", action: "update_card_position", selection: tag}, method: 'post', remote: true %>
			<% end %>
			<h5>Sex</h5>
			<% @sex_tags.each do |tag| %>
				<%= button_to tag,  {controller: "games", action: "update_card_position", selection: tag}, method: 'post', remote: true %>
			<% end %>
			<h5>Relationship Status</h5>
			<% @relationship_tags.each do |tag| %>
				<%= button_to tag,  {controller: "games", action: "update_card_position", selection: tag}, method: 'post', remote: true %>
			<% end %>
			<h5>Computer Type</h5>
			<% @computer_tags.each do |tag| %>
				<%= button_to tag,  {controller: "games", action: "update_card_position", selection: tag}, method: 'post', remote: true %>
			<% end %>
			<h5>Miscellaneous Characteristics</h5>
			<% @misc_tags.each do |tag| %>
				<%= button_to tag,  {controller: "games", action: "update_card_position", selection: tag}, method: 'post', remote: true %>
			<% end %>

		</div>

	</div>
	<div id="you-win">
		<h1 id="result-win">YOU WIN!</h1>
		<%= button_to "Play Again!", play_again_path, method: 'post', remote: true%>
	</div>
	<div id="you-lose">
		<h1 id="result-lose">YOU LOSE!</h1>
		<%= button_to "Play Again!", play_again_path, method: 'post', remote: true%>
	</div>