		<% @mygame.cards.each do |student| %>
			$('#' + "<%=student.name.gsub(" ", "-").downcase%>").off('click');
		<% end %>

		var counter = <%= @counter %>;
		<% @mygame.cards.each do |student| %>
			<% @my_tags = student.tags.map(&:description) %>
			check = "<%= raw @selection %>"
			array = <%= raw @my_tags %>;
			myCardAttr = <%= raw @mycard.tags.map(&:description) %>;
			if (array.includes(check) === myCardAttr.includes(check)){
			}	else {
					non_match($('.' + "<%=student.name.gsub(" ", "-").downcase%>"));
				};
		<% end %>

		$("#keywords .button_to input")
	  .filter(function() {
	    return $( this ).val() === check;
	  })
    .prop( "disabled", true );

		$('#guess' + counter).css('background', 'yellow')
		counter += 1
		if (counter > 5){
			$("#keywords .button_to input").prop( "disabled", true )
		} 

		var winner = undefined;
		var winningCard = "<%= @mycard.name %>";
		<% @mygame.cards.each do |student| %>
			$('#' + "<%=student.name.gsub(" ", "-").downcase%>").click(function(){
				if($('#' + "<%=student.name.gsub(" ", "-").downcase%>-label").html() === winningCard && winner === undefined){
					$('#you-win').css('display', 'block');
					winner = true;
				} else {
						$('#you-lose').css('display', 'block');
						winner = false;
					};
					$('.selected').replaceWith("<div id='winning_card'><span id='winner_name'></span></div")
					$('#winning_card').css("width", $('.one-card-container').width())
					$('#winning_card').css("height", $('.one-card-container').width() - $('.one-card-container').width()/31)
					$('#winning_card').css('background', 'url("<%=raw @mycard.avatar.url%>")')
					$('#winning_card').css('background-size', '100% 100%')
					$('#winner_name').html("<%=raw @mycard.name%>")
			});
		<% end %>