<h1>Card#new</h1>
<p>Find me in app/views/card/new.html.erb</p>

<%= form_tag cards_create_path, multipart: true do %>

	<%= label_tag :name %>
	<%= text_field_tag :name %>

	<%= label_tag :avatar %>
	<%= file_field_tag 'cards[avatar]' %>
	<br />

	<h3>Gender</h3>
		<%= select_tag(:first, options_for_select([ ["Male", 40], ["Female", 41] ])) %>
	<h3>Hair Color</h3>
		<%= select_tag(:second, options_for_select([["Black", 3], ["Brown", 4], ["Blonde", 5], ["Red", 6], ["White", 7], ["Dyed", 8], ["Bald", 9] ])) %>
	<br />
	<h3>Hair Length</h3>
		<%= select_tag(:third, options_for_select([ ["Short", 10], ["Medium", 11], ["Long", 12]  ])) %>
	<h3>Facial Hair</h3>
	<%= select_tag(:fourth, options_for_select([ ["Beard", 13], ["None", 14], ["Mustache", 15] ])) %>
	<h3>Eye Color</h3>
		<%= select_tag(:fifth, options_for_select([ ["Black", 16], ["Brown", 17], ["Blue", 18], ["Green", 19], ["Other", 20] ])) %>
	<h3>Skin Tone</h3>
		<%= select_tag(:sixth, options_for_select([ ["Light", 22], ["Dark", 23] ])) %>
	<h3>Glasses</h3>
		<%= select_tag(:seventh, options_for_select([ ["Yes", 23], ["No", 24] ])) %>
	<h3>Height</h3>
		<%= select_tag(:eighth, options_for_select([["Above 5'7", 25], ["Below 5'7", 26], ["Kassims' Height", 27] ])) %>
	<h3>Relationship</h3>
		<%= select_tag(:ninth, options_for_select([ ["Married", 32], ["In a Relationship", 33], ["Single", 34] ])) %>
	<h3>Random</h3>
		<%= select_tag(:tenth, options_for_select([ ["Mac User", 29], ["PC User", 28], ["Younger than 30", 30], ["Native New Yorker", 31], ["Prefers Cheese Pizza", 35], ["Prefers Pepperoni Pizza", 36], ["Wears Earings"], ["Has Gauges"], ["Has Tattoos", 39] ])) %>

		<%= submit_tag :submit, data: {disable_with: "Submitting..."} %>

<% end %>