<h1>Card#show</h1>
<p>Find me in app/views/card/show.html.erb</p>


<% if @card %>
	<h2>Card info</h2>
	<h4>Name:</h4>
	<%= @card.name %>
	<h4>Tags:</h4>
	<% @tag.each do |t| %>
		<div class="card-show-tags">
			<%= t.description %>
		</div>
	<% end %>

	<h3>Add your own tag!</h3>
	<%= form_tag tag_create_path, multipart: true do %>
		
		<%= label_tag "Tag" %>
		<%= text_field_tag :description	%>

		<%= submit_tag :submit, data: {disable_with: "Updating..."} %>
	<% end %>
<% else %>
	<h3>Success? (No card to show)</h3>
<% end %>