<h1>Card#new</h1>
<p>Find me in app/views/card/new.html.erb</p>

<%= form_for @card, card_create_path, multipart: true do %>

	<%= label_tag :name %>
	<%= text_field_tag :name %>

	<%= label_tag :avatar %>
	<%= file_field_tag 'cards[avatar]' %>
	<br />

	<h3>Gender</h3>
		<%= select_tag(:first, options_for_select([ ["Male", "male"], ["Female", "female"] ])) %>
	<h3>Hair Color</h3>
		<%= select_tag(:second, options_for_select([["Black", "black hair"], ["Brown", "brown hair"], ["Blonde", "blonde hair"], ["Red", "red hair"], ["White", "silver-grey hair"], ["Bald", "bald"] ])) %>
	<br />
	<h3>Hair Length</h3>
		<%= select_tag(:third, options_for_select([ ["Short", "short hair"], ["Medium", "medium-length hair"], ["Long", "long hair"]  ])) %>
	<h3>Facial Hair</h3>
	<%= select_tag(:fourth, options_for_select([ ["Beard", "beard"], ["None", "no facial hair"], ["Mustache", "mustache"] ])) %>
	<h3>Eye Color</h3>
		<%= select_tag(:fifth, options_for_select([ ["Brown", "brown eyes"], ["Blue", "blue eyes"], ["Green", "green eyes"], ["Hazel", "hazel eyes"] ])) %>
	<h3>Skin Tone</h3>
		<%= select_tag(:sixth, options_for_select([ ["Light", "light skin"], ["Dark", "dark/brown skin"] ])) %>
	<h3>Glasses</h3>
		<!-- check again to default drop down to nil -->
		<%= select_tag(:seventh, options_for_select([ ["Wears Glasses", "wears glasses"])) %>
	<h3>Tall?</h3>
		<!-- check again to default drop down to nil -->
		<%= select_tag(:eighth, options_for_select([["Tall", "taller than 5'7"] ])) %>
	<h3>Relationship</h3>
		<%= select_tag(:ninth, options_for_select([ ["Married", "married"], ["In a Relationship", "in a relationship"], ["Single", "single"] ])) %>
	<h3>Random</h3>
		<%= select_tag(:tenth, options_for_select([ ["Mac User", "mac computer"], ["PC User", "pc computer"], ["Younger than 30", "younger than 30"], ["Native New Yorker", "native new yorker"],["Prefers Pepperoni Pizza", "prefers pepperoni pizza to cheese"],["Wears Earrings", "has earrings or gauges" ],["Has Tattoos", "has tattoos"] ])) %>

		<%= submit_tag :submit, data: {disable_with: "Submitting..."} %>

<% end %>