<!DOCTYPE html>
<html>
<head>
  <title>Instawho</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:notice] %>
	<%= flash[:notice] %>
	<% elsif flash[:alert] %>
	<%= flash[:alert] %>
	<% end %>
	<div id="nav-wrapper">
		<button id="nav-toggle-button">
			<%= image_tag "nav-menu-toggle" %>
		</button>
		<br clear="all" />
	</div>
	<div class="main-content-area">
	</div>

	<div id="main-nav-container">
		<ul id="main-nav-list">
			<% if @current_user %>
				<li><%= link_to "New Game", root_path(:anchor => '#') %></li>
				<li><%= link_to "My Games", root_path(:anchor => '#') %></li>
				<li><%= link_to "My Profile", user_path %></li>
				<li><%= link_to "Log Out", logout_path, method: :delete %></li>
			<% else %>
				<li><%= link_to "Sign In/ Sign Up", root_path %></li>
			<% end %>
		</ul>
	</div>
	<br clear="all" />
		<%= yield %>
</body>
</html>
